@import "tailwindcss";
@import "./theme.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito);
  --font-heading: var(--font-open-sans);
}

body {
  background: #ffffff;
  color: var(--foreground);
  font-family: var(--font-nunito), sans-serif;
}

p {
  @apply mb-2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-open-sans), sans-serif;
}

h2 {
  @apply text-2xl font-bold text-amber-800 my-4;
}

h2.title-subtitle {
  @apply text-2xl font-bold text-white my-4;
}

h2.tile-title {
  @apply text-2xl font-semibold text-white my-0;
}

h3 {
  @apply text-2xl font-bold text-green-800 my-4;
}

h3.title-hp {
  @apply text-2xl font-bold text-green-800 my-4 text-center;
}

h4 {
  @apply text-lg font-bold text-green-800 my-4 text-center;
}

a {
  @apply font-bold transition-all duration-200 ease-in-out;
}

p a {
  @apply text-green-800 hover:text-green-600 focus:text-green-600 underline hover:no-underline focus:no-underline;
}
